@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Inter';
}

p {
    font-size: 15px;
}